  <div class="header">
            <div class="overlay">
                <h1>You're Invited!</h1>
                <h2>To the Celebration of Life of</h2>
                <h1>David V. Olson</h1>
                <h3>1/8/1943 - 5/8/2020</h3>
            </div>
        </div>
        <div class="main-body">
            <div class="overlay2">
                <h3>We cordially invite you to join us in remembering Dave Olson.</h3>
                <p>Dave was taken from us suddenly. We weren't permitted to hold a funural for him, due to a coronavirus outbreak. Instead, we would like to hold an outdoor activity that Dave enjoyed, playing golf.</p>
                <p>This fall, LeAnn and Jonny Olson are hosting a Golf Tournament at Hunter's Golf Club, in honor of Dave. There will be food, drinks and music. If you're not up for golf, we invite you to the gathering, which will be at Violi's restaurant, half of the inside is reserved, as well as the party tent outside by the 18th hole.</p>
                <p>For those of you unable to attend or needing to socially distance, we welcome you to go to this <a href="">link</a> to say a few words...</p>
            </div>
        </div>
        <div class="main-body">
            <div class="overlay2">
                <h3>When</h3>
                <h4>Saturday, October 17th 2020</h4>
                <h5>Quick Lunch: 12:00 P.M.</h5>
                <h5>Golf Tournament: 12:30 P.M.</h5>
                <h5>Celebration of Life: 4:30 P.M.</h5>
                <hr>
                <h3>Where</h3>
                <h4>Hunter's Golf Club</h4>
                <h4>688 Westfield Road</h4>
                <h4>Meriden, CT 06450</h4>
            </div>
        </div>
        <div class="main-body">
            <div class="overlay">
                <h1>R.S.V.P.</h1>
                <a href="sms:+13524468043&body=Yes">Yes</a>
                <p>Please enter your name in the subject field with the number of people coming with you (including yourself) by following this <a href="mailto:jolson@widespread.world?body=Yes">link</a>, if you're unable to make it please place your name as the subject in this <a href="mailto:jolson@widespread.world?body=no">link</a>.</p>
            </div>
        </div>